@import "tailwindcss";

@import './uva/main.css';

@variant dark (&:where(.dark, .dark *));

@source "../../app/**/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../vendor/livewire/flux/stubs/**/*.blade.php";

@import '../../vendor/livewire/flux/dist/flux.css';

@theme {
    --color-primary: #561922;
    --color-primary-light: #7A2A38;
    --color-primary-dark: #3D1118;

    --color-text: #1A1C1C;
    --color-text-muted: #867273;

    --color-gray: #E2E2E2;
    --color-gray-dark: #867273;

    --color-background: #FFFFFF;
    --color-surface: #F9FAFB;
}
