@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@source "../../app/**/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../vendor/livewire/flux/stubs/**/*.blade.php";

@import '../../vendor/livewire/flux/dist/flux.css';

@theme {
    --color-zinc-50: #F9FAFB;
    --color-zinc-100: #F3F4F6;
    --color-zinc-200: #E5E7EB;
    --color-zinc-300: #D1D5DB;
    --color-zinc-400: #9CA3AF;
    --color-zinc-500: #6B7280;
    --color-zinc-600: #4B5563;
    --color-zinc-700: #374151;
    --color-zinc-800: #1F2937;
    --color-zinc-900: #111827;
    --color-zinc-950: #030712;
}

@theme {
    --color-accent: #4F5D95;
    --color-accent-content: #3A4570;
    --color-accent-foreground: #F9FAFB;
}
