<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">

  <!-- wp:template-part {"slug":"products"} /-->

  <!-- wp:template-part {"slug":"new-products"} /-->

  <!-- wp:template-part {"slug":"best-sellers"} /-->

  <!-- wp:template-part {"slug":"most-popular"} /-->

  <!-- wp:template-part {"slug":"uncategorized-products"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer","backgroundColor":"gray","layout":{"inherit":true}} /-->
